.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 3px;
    background-color: rgb(207, 227, 246);
    margin: 5px 0;
    transition: 0.4s;
}

.space {
    flex: 0 1 90%;
}

.navBar {
    display: flex;
}

/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 2px);
    transform: rotate(-45deg) translate(-7px, 2px);
    float: right;
    position: relative;
    width: 20px;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -2px);
    transform: rotate(45deg) translate(-7px, -2px);
    float: right;
    position: relative;
    width: 20px;
}

#navList {
    display: none;
    position: relative;
    float: right;
    justify-content: end;
    background-color: rgb(39, 40, 53);
    opacity: 0.7;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 6px;
    box-shadow: -4px -17px 59px -10px rgba(252, 249, 249, 0.75);
    -webkit-box-shadow: -4px -17px 59px -10px rgba(181, 177, 177, 0.75);
    -moz-box-shadow: -4px -17px 59px -10px rgba(108, 106, 106, 0.75);
}

.bars {
    cursor: pointer;
    position: relative;
    float: right;
    justify-content: end;
}

.container {
    display: grid;
    grid-gap: 25px;
}

body {
    margin-top: 10px;
    background-image: url("assets/home/background-home-mobile.jpg");
    background-size: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(252, 255, 242);
    font-family: Georgia, serif;
    font-size: small;
    font-feature-settings: "liga" 0;
}

.logo {
    width: 37px;
}

a:link {
    text-decoration: none;
    color: rgb(220, 235, 250);
}

a:visited {
    color: rgb(220, 235, 250);
    text-decoration: none;
}

a:hover {
    color: #8b8b0f;
    text-decoration: none;
}

h1 {
    font-size: 6em;
    text-transform: uppercase;
    margin: 4%;
}

#firstLine {
    font-size: 1.3em;
    text-transform: uppercase;
}

.content {
    text-align: center;
    width: 90%;
    margin-left: 5%;
}

#explore {
    margin-top: 35%;
    margin-left: 42.5%;
    background-color: rgb(252, 255, 242);
    text-transform: uppercase;
    padding: 40px 2px;
    color: black;
    border-radius: 100px;
    width: 6.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(49, 39, 53);
    color: white;
    text-align: center;
    opacity: .7;
    font-size: 17px;
    display: flex;
    flex-direction: row-reverse;

}

.footer>.logo {
    margin: 10px;
}
.footer>.cr{margin-top: 1.5rem;}

@media (min-width: 768px) {


    .bar1,
    .bar2,
    .bar3 {
        display: none;
        width: 0px;
        height: 0px;
        margin: 0px 0;
    }

    .line {
        position: absolute;
        width: 37%;
        left: 50%;
        margin-left: -45%;
        flex: 0 1 30%;
        margin-top: 23px;
        height: 0.8px;
        background-color: #f2f2f2;
        opacity: 0.3;
    }

    .top #navList a:hover {
        background-color: #ddd;
        color: black;
        opacity: 1;
    }

    .top #navList a.active {
        background-color: #04AA6D;
        color: white;
        opacity: 1;
    }

    .top {
        overflow: hidden;
        justify-content: space-between;
        /* background-color: #333; */
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    #navList {
        width: 58.4%;
        display: block;
        padding: 0%;
        margin: 0%;
        display: flex;
        opacity: .5;
    }

    #navList>a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin-left: 6px;
        border-radius: 5px;
        flex-flow: row nowrap;
        width: 20.7%;
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        margin-top: 10px;
        background-image: url("assets/home/background-home-tablet.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .pageBody {
        margin-top: 6rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {

    body {
        margin-top: 10px;
        background-image: url("assets/home/background-home-desktop.jpg");
        background-size: 100% auto;
        /* Center and scale the image nicely */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .pageBody {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: space-between;
    }

    #explore {
        margin-top: 15%;
        margin-left: 30%;
        margin-bottom: 40%;
    }

    .content {
        /* margin-top: 12rem; */
        margin-top: 10%;
        display: block;
        width: 40%;
        text-align: center;
    }
}